/* Basic layout */
html {
    min-height: 100%;
    background: url(../media/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0 0 100px;
}

@font-face {
    font-weight: bold;
    font-family: 'DadsRecipeRegular';
    src: url('../media/DadsRecipeRegular.ttf');
}

@font-face {
    font-weight: bold;
    font-family: 'DIN Alternate';
    src: url('../media/DIN Alternate Bold.ttf');
}

@font-face {
    font-weight: bold;
    font-family: 'DIN Condensed';
    src: url('../media/DIN Condensed Bold.ttf');
}


header, a, img, li{
    -webkit-transition: all .8s; /* Safari and Chrome */
    -moz-transition: all .8s; /* Firefox 4 */
    -o-transition: all .8s; /* Opera */
    transition: all .8s;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


ul{
    display: inline-block;
    list-style-type: none;
}

li{
}


nav{
    margin: 0 auto;
    width: 960px;
}

/*-----------HEADER END----------*/

header{
    position: fixed;
    z-index: 10000;
    /*border-bottom: 2px solid white;*/
    display: flex;
/*    margin-top: 2em;*/
/*    overflow: hidden;*/
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

header nav{
    width: 95%;
}

header a{
    position:relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'DadsRecipeRegular', sans-serif;
}

header a:hover{
    color: #3d3d3d;
}

header li{
    display: inline;
    float: left;
    margin-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

header .left{
    float: left;
}

header .right{
    float: right;
}

header div {
    width: 40%;
}

img.logo{
    position: absolute;
    left: 40%;
    z-index: 10000;
    margin-top: -0.5em;
    max-width: 25em;
    width: 20%;
    height: auto;
}

/* Sizes for the smaller menu */
header.small{
    padding-bottom: 12px;
    background-color: black;
    opacity: 0.8;
}
header.small nav{
    margin-right: auto;
    margin-left: auto;
    width: 88%;
    opacity: 1;
}

header.small a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'DadsRecipeRegular', sans-serif;
}

header.small{
    height: 3em;
}

header.small img{
    left: 41%;
    width: 18%;
    height: auto;
}

header.small li{
}

header.small nav{
/*    width: 60em;*/
}
/*-----------HEADER END----------*/

.maincontainer{
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10em;
    width: 70%;
    color: white;
    font-family: "DIN Alternate", sans-serif;

    align-content: center;
}

.menu {
    position: relative;
    width: 100%;
}

.textcontainer{
    position: relative;
    overflow: hidden;



    color: white;



    font-family: "DIN Alternate", sans-serif;
}

.textcontainer p, h2, h4, h3{
    position: relative;
    z-index: 2;
    padding: .5em;
    padding-left: 4em;
    max-width: 50em;
    color: #fff;
}

.textcontainer h6{
    z-index: 2;
    position: relative;
    color: #fff;
    padding: 1em
}

.textcontainer:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color:#74201A;
    content: ' ';
    opacity: 0.6;
}

table{
    position: relative;
    z-index: 10000;
}
table tr{
    width: 200px;
    color: white;
    font-size: 1em;
    font-family: 'DIN Alternate', sans-serif;
}

table td{
    max-width: 18em;
    padding: 1em;
    padding-left: 2em;

}

table img{
    max-width: 80%;
}



#mapwrap{
    top:4em;
    float: right;
    margin-top: 4em;
}

.form-group{
    width: 10em;
}




/*-----------FOOTER START----------*/

.footer{
    z-index: 1000000000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000000000;
    width: 100%;
    height: 80px;
    background:#74201A;
    color: white;
    font-size: 1.1em;
    font-family: "DIN Condensed", sans-serif;
    opacity: .8;
}
#footer-left{
    float: left;
    margin-right: 2em;
    margin-left: 2em;
}
#footer-left-left{
    float: left;
    margin-right: 2em;
}
#footer-right{
    float: right;
    margin-right: 2em;
    padding-top: .5em;
    height: 90%;
    font-size: 1.3em;
}
#footer-right-list1{
    width: auto;
}
#footer-right-list2{
    float: right;
}
/*-----------FOOTER END---------*/

.upcevents
    {
    display: inline-block;
    width: 100%;
    height: 100%;
    }

.upcevents:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    margin-top: 32em;
    width: 100%;
    height: 100%;
    background-color:#74201A;
    content: ' ';
    opacity: .6;
}
