/* Basic layout */
html {
    background: url(../media/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 100px;
}

@font-face {
    font-family: DadsRecipeRegular;
    src: url(../media/DadsRecipeRegular.ttf);
    font-weight: bold;
}


header, a, img, li{
    transition: all .8s;
    -moz-transition: all .8s; /* Firefox 4 */
    -webkit-transition: all .8s; /* Safari and Chrome */
    -o-transition: all .8s; /* Opera */
}

a:visited {
    color: white;
    text-decoration: none;

}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


ul{
    list-style-type: none;
    margin-left: 3.5em;
    display: inline-block;
    *display: inline;
}

li{

}

img.logo{
    position: absolute;
    max-width: 15em;
    min-width: 5em;
    height: 100%;
    z-index: 10000;
    margin-top: .5em;
    left:40%;
}


nav{
    width: 960px;
    margin: 0 auto;
}

hr{
    width: 50em;
}

section.stretch{
    float: left;
    height: 2000px;
    width: 100%;
}

section.stretch p{
    font-family: 'DadsRecipeRegular', sans-serif;
    font-size: 30px;
    color: #969696;
    text-align: center;
    position: relative;
    margin-top: 250px;
}



header{
    /*border-bottom: 2px solid white;*/
    display: flex;
    float: left;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin-top: 2em;
    overflow: hidden;
}

header a{
    color: white;
    text-decoration: none;
    font-family: 'DadsRecipeRegular', sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
}

header a:hover{
    color: #3d3d3d;
}

header li{
    margin-left: 1.3em;
    display: inline;
    float: left;
}

header li:nth-child(4){
    margin-left: 18em;
}

/* Sizes for the bigger menu */
header.large{
    height: 6em;
}

header.large li{
    margin-top: 45px;

}

/* Sizes for the smaller menu */

header.small a{
    color: white;
    text-decoration: none;
    font-family: 'DadsRecipeRegular', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-right: 15%;
}

header.small{
    height: 3em;
}

header.small img{
    max-width: 8em;
    height: auto;
    left:45%;
    margin-top: .2%;

}

header.small li{
    margin-top: 17px;
    margin-left: 3em;
}

header.small hr{
    width: 50em;
}

header.small li:nth-child(4){
    margin-left: 9em;
}

header.small nav{
    width: 60em;
}

/*-----------FOOTER START----------*/
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    opacity: .8;
    background:#74201A;
    font-family: "DIN Condensed";
    color: white;
    font-size: 1.1em;
}
#footer-left{
    float: left;
    margin-left: 2em;
    margin-right: 2em;

}
#footer-left-left{
    float: left;
    margin-right: 2em;
}
#footer-right{
    float: right;
    margin-right: 2em;
    font-size: 1.3em;

}
#footer-right-list1{
    width: auto;

}
#footer-right-list2{
    float: right;
}

/*-----------FOOTER END----------*/


