html {
    background: url(media/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

@font-face {
    font-family: DadsRecipeRegular;
    src: url(media/DadsRecipeRegular.ttf);
    font-weight: bold;
}

header,nav, a, img, li{
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

header{
    margin-top: 5em;
}

.menubar{
    margin: 0 auto;
    position: relative;
    height: .5em;
    width: 27em;
    list-style-type:none;
    color: white;
    font-family: DadsRecipeRegular, Helvetica, sans-serif;
    font-size: 2em;
}

.menubar li{
    display:inline;
    margin-left: .5em;

}

.menubar li:nth-child(4){
    margin-left: 7.5em;
}

.logo{
    max-width: 230px;
    height: auto;
    position: absolute;
    top: 2.4em;
    left: 50%;
    margin-left: -120px;
    z-index: 100
}

hr{
    width: 53em;
}


